TouristLocationsApi/XmlSchemas/TouristLocations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="planets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="planet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="continents">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="continent">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="population" type="xs:unsignedInt" />
                          <xs:element name="countries">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="country">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="name" type="xs:string" />
                                      <xs:element name="officialLanguage" type="xs:string" />
                                      <xs:element name="population" type="xs:unsignedInt" />
                                      <xs:element name="cities">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="city">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string" />
                                                  <xs:element name="population" type="xs:unsignedInt" />
                                                  <xs:element name="touristLocations">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element maxOccurs="unbounded" name="touristLocation">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="name" type="xs:string" />
                                                              <xs:element name="description" type="xs:string" />
                                                              <xs:element name="rating" type="xs:unsignedByte" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>